body {
    font-family: sans-serif;
    margin: 0; /* Vous ne connaissez pas encore cette propriété mais elle permet de s'assurer que nos éléments prennent bien toute la largeur de la page */
}

.banniere {
    padding: 100px; /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter de l'espace dans notre élément*/
    background-image: url('img.jpg');
}

h1 {
    color: green;
    text-align: center;
}

p {
    color: red;
}

p:hover{
    color: blue;
    font-family: 'Lucida Sans';
    font-size: 30;
}

h1:hover{
    background-color: blueviolet;
    color: white;
}
